{% extends 'Sl_proj/base.html' %}

{% block content %}
    <div class = "container-fluid">
        <div class="row">
            <div class="col-sum-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3> Add a new Group </h3>
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'split/form-template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="Submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}