{% extends "Sl_proj/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div style="text-align: center">
    <h3>Details : Transaction ID = {{ txn_detail.pk }}</h3>
    <br>
    <ul>
        <li>
            Time of transaction : {{ txn_detail.timestamp }}
        </li>
        <li>
            User ID : {{ txn_detail.user}}
        </li>
        <li>
            Details : {{ txn_detail.details }}
        </li>
        <li>
            Amount : {{ txn_detail.amount }}
        </li>
        <li>
            Category : {{ txn_detail.category }}
        </li>
    </ul>

    <a href="{% url 'transaction-update' txn_detail.pk %}">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;
                    Edit Transaction
    </a>

    <form action="{% url 'transaction-delete' txn_detail.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ txn_detail.user_id }}"/>
               <button type="submit" class="btn btn-danger btn-small">
                   <span class="glyphicon glyphicon-trash"></span>
                </button>
    </form>

</div>
{% endblock %}
