{% extends "Sl_proj/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div style="text-align: center">
    <h3>Details : Transaction ID = {{ txn_detail.pk }}</h3>
    <br>
    <ul>
        <li>
            Time of transaction : {{ txn_detail.timestamp }}
        </li>
        <li>
            User ID : {{ txn_detail.user}}
        </li>
        <li>
            Details : {{ txn_detail.details }}
        </li>
        <li>
            Amount : {{ txn_detail.amount }}
        </li>
        <li>
            Category : {{ txn_detail.category }}
        </li>
    </ul>
</div>
{% endblock %}
