
{% for field in form %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <label class="control-label col-sm-2">{{ field.label_tag }}</label>
        <div class="col-sm-10">{{ field }}
                {% if field.name == 'details' %}
                    <button id = "pop-detail" onclick="sendDetail()">Populate from Image</button>
                {% endif %}
                {% if field.name == 'amount' %}
                    <button id = "pop-amount" onclick="sendAmount()">Populate from Image</button>
                {% endif %}
        </div>
    </div>
{% endfor %}