{% extends 'Sl_proj/base.html' %}
{% block styles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.min.js"></script>
{% endblock %}
{% block scripts %}

<script type="text/javascript">

    $('#id_bill2').change(function (e) {
        input = this
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgbox img').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    })
    //     $(document).ready(function (e){
    // $("#file-upload-form").on('submit',(function(e){
    // e.preventDefault();
    // $.ajax({
    // url: "upload.php",
    // type: "POST",
    // data:  new FormData(this),



    const image = document.getElementById('image');
    const cropper = new Cropper(image, {
        initialAspectRatio: 4 / 1,
        crop(event) {
            console.log(event.detail.x);
            $('#x1').val(event.detail.x);
            $('#y1').val(event.detail.y);
            $('#x2').val(event.detail.x + event.detail.width);
            $('#y2').val(event.detail.y + event.detail.height);
        },
    });

    function uploadFile() {
        // alert("hello")
        // alert($('#id_bill2').val())
        // alert($(this).children)
        let formData = new FormData();
        formData.append("x1", $('#x1').val())
        formData.append("x2", $('#x2').val())
        formData.append("pic", $('input[type=file]')[0].files)
        alert("hello")
        console.log($('input[type=file]')[0].files)
        $.ajax({
            data: formData,//{ "x1": x1.val(), "x2": x2.val(), "pic": $('#id_bill2').val()},
            type: "POST",
            url: "/mytransactions/crop-image/",
            headers: {//<==
                "X-CSRFTOKEN": "{{ csrf_token }}"//<==
            },
            contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
            processData: false,
            success: function (data) {
                // if (data.is_taken) {
                //     alert("A user with this username already exists.");
                // }
                alert(data.Success)
            }
        });
        // return false;
    }

    $(function () {
        $('#upload-btn').click(uploadFile);
    });


</script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sum-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3> Add a new Transaction </h3>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'txn/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="Submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <form action="/mytransactions/crop-image/" method="post" id="file-upload-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-sum-12 col-md-6" id="imgbox" style="border: 2px black solid; width: 540px;">
                OCR MODULE : <input id="id_bill2" type="file" name="pic" />
                x1 : <input id="x1" value="" size="6" name="x1" />
                x2 : <input id="x2" value="" size="6" name="x2" />
                y1 : <input id="y1" value="" size="6" name="y1" />
                y2 : <input id="y2" value="" size="6" name="y2" />
                <div class="btn btn-primary" id='upload-btn'>Upload</div>
                <div style="border: 2px black solid; height: 500px ; width: 500px" id="rightbox">
                    <img id="image" src="/static/img/empty.png" alt="Image Not Available"
                        style="height: 495px; width: 495px;">
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}